.root {
	@apply relative;
	max-height: 100% !important;
}

.root:hover .productBg::before {
	transform: scale(0.98);
}
.root:hover .productImage {
	transform: scale(1.15);
}

.root:nth-child(6n + 1) .productBg {
	@apply bg-violet;
}

.root:nth-child(6n + 3) .productBg {
	@apply bg-pink;
}

.productTag {
	@apply absolute top-0 left-0 z-20;
}
.productTag > * {
	@apply text-3xl;
}

.productTitle {
	@apply font-bold leading-10 mb-1;
}

.productTitle span {
	@apply py-4 px-6 bg-primary;
	box-decoration-break: clone;
}
.productPrice {
	@apply pb-2 pt-2 px-4 font-semibold text-sm bg-primary;
	letter-spacing: 0.4px;
}
.productImage {
	@apply transition-transform duration-300 block;
}

.productBg {
	@apply absolute inset-0 z-0;
	background-color: #212529;
}

.productBg::before {
	@apply transition-transform duration-300 block w-full h-full bg-repeat-space;
	content: '';
	background-image: url('/product-pattern-bg.svg');
}
